.Post,
.Event {
  background-color: #eeeeee;
  border: 1px solid #bfbfc5;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
.Event figure,
h5 {
  margin: 0;
}

.Icon {
  color: #9b9898; 
}

.Icon:hover {
  color: #110ed1; 
}

.IconClicked {
  color:#e21717; 
}

